h2 Forgot your password?
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-inline' }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
  .form-actions
    = f.button :submit, "Send me reset password instructions"
= render "devise/shared/links"
