- if user_signed_in?
  li.nav-item= link_to 'Edit account', edit_user_registration_path, class: 'nav-link'
  li.nav-item= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link'
- else
  li.nav-item= link_to 'Sign in', new_user_session_path, class: 'nav-link'
  li.nav-item= link_to 'Sign up', new_user_registration_path, class: 'nav-link'
